.newProduct {
	flex: 4;

	h1 {
		font-size: 24px;
		font-weight: 600;
		margin-left: 20px;
		margin-top: 20px;
	}

	.addProductForm {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		padding: 20px;

		.container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.inputContainer {
				width: 300px;
				margin-bottom: 10px;

				.inputLabel {
					font-size: 0.875rem;
					color: #555;
					font-weight: 600;
					padding: 0;
					margin: 0;
				}
				.input {
					width: 100%;
				}
			}
		}
	}
}
